In [20]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

!pip install gspread==5.3.2
import gspread
from google.oauth2.service_account import Credentials

Requirement already satisfied: gspread==5.3.2 in /usr/local/lib/python3.7/dist-packages (5.3.2)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from gspread==5.3.2) (0.4.6)
Requirement already satisfied: google-auth>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from gspread==5.3.2) (1.35.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread==5.3.2) (1.15.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread==5.3.2) (4.2.4)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread==5.3.2) (57.4.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread==5.3.2) (4.8)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread==5.3.2) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib>=0.4.1->gspread==5.3.2) (1.3.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread==5.3.2) (0.4.8)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread==5.3.2) (2.23.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread==5.3.2) (3.2.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread==5.3.2) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread==5.3.2) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread==5.3.2) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread==5.3.2) (2021.10.8)

In [2]:
scopes = [
    'https://www.googleapis.com/auth/spreadsheets',
    'https://www.googleapis.com/auth/drive'
]

credentials = Credentials.from_service_account_file(
    '/content/project-ds-347713-0717d5778e6b.json',
    scopes=scopes
)

gc = gspread.authorize(credentials)

In [3]:
file= gc.open('Raw Parkiran PT. SUMO UTOMO')
name_sheet = ['Jan-2021','Feb-2021','Mar-2021','Apr-2021','Mei-2021','Jun-2021','Jul-2021','Agu-2021','Sep-2021','Okt-2021','Nov-2021','Des-2021']

data = pd.DataFrame(columns=['Gate','Vehicle','Entry','Exit'])

for i in name_sheet:
  sheet = file.worksheet(i)
  df = pd.DataFrame(sheet.get_all_records())
  data = data.append(df)

data['Entry'] = pd.to_datetime(data['Entry'])
data['Exit'] = pd.to_datetime(data['Exit'])
data['Month'] = data['Entry'].dt.month_name()

### 1. Persentase transaksi error tiap bulan dan keseluruhan

In [4]:
data['Validasi'] = data['Entry'] < data['Exit']
hasil_1 = data.groupby(['Month' , 'Validasi']).agg({'Entry':'count'}).unstack().reset_index()
hasil_1.columns = ['Month', 'FALSE', 'TRUE']
hasil_1['PERSENTASE'] = (hasil_1['FALSE']/(hasil_1['FALSE']+hasil_1['TRUE']))*100
hasil_1

        Month  FALSE  TRUE  PERSENTASE
0       April     53    47        53.0
1      August     54    46        54.0
2    December     57    43        57.0
3    February     46    54        46.0
4     January     48    52        48.0
5        July     55    45        55.0
6        June     54    46        54.0
7       March     46    54        46.0
8         May     41    59        41.0
9    November     53    47        53.0
10    October     50    50        50.0
11  September     54    46        54.0

###2. Pendapatan Transaksi Tiap Bulan

In [5]:
df = data[data['Validasi'] == True].reset_index()
df.head(2)

,index,Gate,Vehicle,Entry,Exit,Month,Validasi
0,0,B2,Motorcycle,2021-01-06 22:23:57,2021-01-19 23:45:02,January,True
1,2,A1,Car,2021-01-06 04:47:47,2021-01-24 00:58:50,January,True

In [6]:
def get_hours(end,start):
  ga = (end-start)
  minutes = ga.total_seconds()/60
  hours = minutes/60
  days = hours/24

  return math.ceil(hours)

for index, row in df.iterrows():
  df.loc[index,'Duration'] = get_hours(row['Exit'], row['Entry'])

df.loc[df['Vehicle'] == 'Car', 'Price'] = df['Duration']*3000
df.loc[df['Vehicle'] == 'Motorcycle', 'Price'] = df['Duration']*2000

In [7]:
hasil_2 = df.groupby(['Month']).agg({'Price':'sum'}).reset_index()
hasil_2

        Month       Price
0       April  30853000.0
1      August  30605000.0
2    December  30419000.0
3    February  29484000.0
4     January  29871000.0
5        July  19737000.0
6        June  23418000.0
7       March  31814000.0
8         May  41624000.0
9    November  32319000.0
10    October  32611000.0
11  September  24206000.0

###3. Berapa Pendapatan Tiap Bulan Berdasarkan jenis kendaraan

In [11]:
df.groupby('Month')['Price'].sum()

Month
April        30853000.0
August       30605000.0
December     30419000.0
February     29484000.0
January      29871000.0
July         19737000.0
June         23418000.0
March        31814000.0
May          41624000.0
November     32319000.0
October      32611000.0
September    24206000.0
Name: Price, dtype: float64

In [14]:
df.groupby(['Month', 'Vehicle']).agg({'Price':'sum'}).reset_index()

        Month     Vehicle       Price
0       April         Car  18351000.0
1       April  Motorcycle  12502000.0
2      August         Car  14367000.0
3      August  Motorcycle  16238000.0
4    December         Car  23067000.0
5    December  Motorcycle   7352000.0
6    February         Car  13974000.0
7    February  Motorcycle  15510000.0
8     January         Car  13065000.0
9     January  Motorcycle  16806000.0
10       July         Car  11037000.0
11       July  Motorcycle   8700000.0
12       June         Car  16062000.0
13       June  Motorcycle   7356000.0
14      March         Car  19194000.0
15      March  Motorcycle  12620000.0
16        May         Car  28566000.0
17        May  Motorcycle  13058000.0
18   November         Car  20025000.0
19   November  Motorcycle  12294000.0
20    October         Car  19767000.0
21    October  Motorcycle  12844000.0
22  September         Car  13734000.0
23  September  Motorcycle  10472000.0